# Dependências
node_modules/

# Relatórios
reports/
mochawesome-report/

# Evidências do Cypress
cypress/screenshots/
cypress/videos/

# Variáveis de ambiente
.env

# Logs
*.log

# Arquivos do sistema
.DS_Store
Thumbs.db